<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PersonnelDb"
		connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=PersonnelDb;Trusted_Connection=true;Integrated Security=SSPI;"/>
		<add name="IdentityDb"
		connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=CustomIdentity;Trusted_Connection=true;Integrated Security=SSPI;"/>
	</connectionStrings>
	<appSettings>
		<add key="Port" value="8002"/>
	</appSettings>
</configuration>